.v-container{
    justify-content: space-between; 
}

.v-container>div{
    flex:1
}
/*left side  */
.image-container{
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0 ;
    border: 8px solid rgba(232 232 232 / 93%);
}
.fit-image{
    width:100%;
    height: 100%;
    object-fit: cover;
}

/* right side  */

.v-right{
    gap: 0.5rem;
} 

.accordion{
    margin-bottom: 2rem;
    border: none;
}
.accordionItem{
    background-color: white;
    border: 0.8px solid rgba(128,128,128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}
.accordionItem.expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}

.accordionButton{
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}
.icon{
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;
}
.icon svg{
    fill: var(--blue);
}
.accordionButton .primaryText{
    font-size: 1.1rem;
}
